<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <!-- you can change this event name -->
  <event name="catalog_product_is_salable_after"> 
     <observer name="kiatto_kiattomodule_observer_catalog_productissalableafter_catalog_product_is_salable_after"
               instance="Kiatto\KiattoModule\Observer\ObserverKiatto" />
  </event>
</config>